<div class="login-container">
  <p-toast></p-toast>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Iniciar Sesión</h2>

    <div class="p-field">
      <label for="username">Usuario</label>
      <input id="username" pInputText formControlName="nombre" placeholder="Usuario">
    </div>

    <div class="p-field">
      <label for="password">Contraseña</label>
      <p-password id="password" formControlName="password" [feedback]="false" placeholder="Contraseña"></p-password>
    </div>

    <button pButton type="submit" label="Ingresar" [disabled]="form.invalid"></button>
  </form>
</div>
