<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="mb-3">
  <button pButton label="Nuevo Producto" icon="pi pi-plus" (click)="openForm()"></button>
</div>

<p-table class="{{baseClass}}__table" #dt2 [value]="products" dataKey="id" [rows]="10"
  [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true">

  <ng-template #header>
    <tr>
      <th style="width:22%">Nombre</th>
      <th style="width:38%">Descripción</th>
      <th style="width:15%">F. de creación</th>
      <th style="width:15%">Acciones</th>
    </tr>


    <tr>
    </tr>
  </ng-template>
  <ng-template #body let-producto>
    <tr>
      <td>
        {{ producto.nombre }}
      </td>
      <td>
        {{ producto.descripcion }}
      </td>
      <td>
        {{ producto.fechaCreacion | date:'yyyy-MM-dd' }}
      </td>

      <td class="{{baseClass}}__actions">
        <button pButton type="button" label="Editar" class="{{baseClass}}__btn {{baseClass}}__btn--edit"
          (click)="openForm(producto)">
        </button>

        <button pButton type="button" label="Eliminar" class="{{baseClass}}__btn {{baseClass}}__btn--delete"
          (click)="deleteProduct(producto.id)">
        </button>
      </td>

    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td colspan="5">No existen lotes registradas.</td>
    </tr>
  </ng-template>
</p-table>

<app-product-form
  [visible]="formVisible"
  [product]="selectedProduct"
  (save)="saveProduct($event)"
  (close)="onCloseForm()">
</app-product-form>
