@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');

$font-primary: 'Nunito Sans', sans-serif;

$color-magenta: #D2006E;
$color-white: #FFFFFF;
$color-blue: #160F41;